@font-face {
  font-family: 'CosmicSansNeueMono';
  src: url('../fonts/CosmicSansNeueMono.otf');
}
@font-face {
  font-family: 'CosmicSansNeueMonoBold';
  src: url('../fonts/CosmicSansNeueMonoBold.otf');
}

body#instantch_at{
	font-size: 60px;
}

#instantch_at{
	background: #fff;
	font-family: 'CosmicSansNeueMono';
	text-transform: lowercase;
}
#instantch_at header{
	background: #008eea;
	border-bottom: solid 3px #8eea00
}
#instantch_at header.navbar{
	min-height: 100px;
}

#instantch_at [view=listtag] .navbar-fixed-top{
	top: 100px;
	min-height: 80px;
	background-color: #b7c5ca;
}

#instantch_at header.navbar a.navbar-brand{
	color: #fff;
	font-size: 50px;
	padding : 25px 5px;
	font-family: 'CosmicSansNeueMonoBold';
}
#instantch_at header+.container{
	margin-top: 180px;
}

#instantch_at table td{
	padding: 20px 0 20px 120px;
}
#instantch_at table .selected{
	background: rgba(204,255,102 , 0.3)
}

#instantch_at input{
	height: 70px;

}

#instantch_at .row{

	font-size: 30px;
    margin-right: 0px;
    margin-left: 0px;
}

#instantch_at .btn{
	
	font-size: 40px;
    margin-right: 0px;
    margin-left: 0px;
}
#instantch_at .footer{
	
	font-size: 40px;
    
}

#instantch_at .box{
	
	width: auto;
	height: 76px;
    
}
#instantch_at .h1{
	
	width: auto;
	height: 76px;
    
}

#instantch_at .table-striped > tbody > tr:nth-child(odd) > td, 
#instantch_at .table-striped > tbody > tr:nth-child(odd) > th{
	background-color: rgba(183,197,202 , 0.2)
}
