@font-face {
  font-family: 'CosmicSansNeueMono';
  src: url('../fonts/CosmicSansNeueMono.otf');
}
@font-face {
  font-family: 'CosmicSansNeueMonoBold';
  src: url('../fonts/CosmicSansNeueMonoBold.otf');
}

#instantch_at{
	background: #fff;
	font-family: 'CosmicSansNeueMono';
	text-transform: lowercase;
}
#instantch_at header{
	background: #008eea;
	border-bottom: solid 1px #8eea00
}
#instantch_at header.navbar{
	min-height: 75px;
}
#instantch_at header.navbar a.navbar-brand{
	color: #fff;
	font-size: 50px;
	padding : 25px 5px;
	font-family: 'CosmicSansNeueMonoBold';
}
#instantch_at input{
	height: 70px;

}
